# Copy as .env file and fill your values below
# Run ./update_dotenv_example.sh to update .env-example from your .env file.

# Choose Model Backend: 0 -> ML Dev, 1 -> Vertex
GOOGLE_GENAI_USE_VERTEXAI=0

# OpenAI-compatible Chat API config. Fill OPENAI_API_KEY in your local .env.
OPENAI_API_KEY=8a225a02553a7cd0c288c1c5bd0635e0
OPENAI_API_BASE=https://chat-ai.academiccloud.de/v1

# ML Dev backend config. Fill if using Google AI Studio.
GOOGLE_API_KEY=YOUR_VALUE_HERE

# Vertex backend config
GOOGLE_CLOUD_PROJECT=YOUR_VALUE_HERE
GOOGLE_CLOUD_LOCATION=YOUR_VALUE_HERE

# Values below this point are specific to MLE-STAR

# Models used in Agents
ROOT_AGENT_MODEL=openai/gpt-oss-120b
